
<div class="container text-center p-5"></div>
<h1 class="ml-5">Login</h1>
{{mensaje_error}}
<div class="card text-center p-5 ml-5 mr-5" >
    <form action="/login" method="POST">


    <div class="form-group pr-5 pl-5">
        <label for="usuario">Usuario</label>
        <input type="text" class="form-control" name="usuario" id="usuario" aria-describedby="usuarioHelp" placeholder="Ingrese usuario" value="{{usuario}}">
        <small id="usuarioHelp" class="form-text text-muted">Las personas veran tu publicacion con este Usuario.</small>
    </div>


    <div class="form-group pr-5 pl-5">
        <label for="password">Contraseña: </label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Ingrese contraseña">
    </div>

    <button class="btn btn-primary" type="submit">Login</button>

</form>
</div>
</div>